* {
  margin: 0;
  padding: 0;
}

.corFundo {
  background-color: #d3d3d3;
}

.marginLogin {
  margin-top: 15%;
  padding-left: 10%;
  padding-right: 10%;
}

.marginregister {
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

@keyframes animeButton {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

button:hover {
  animation-name: animeButton;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

table, thead, tr, td, th{
  border-collapse: collapse;
  width: 1200px;
  text-align: center;
  margin: auto;
}

.usuario{
  text-align: right;
}

.alerta2{
  right: 35%; 
}