.corFundo {
  background-color: #d3d3d3;
}

.marginLogin {
  margin-top: 15%;
  padding-left: 10%;
  padding-right: 10%;
}

.marginregister {
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}